/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
    background-color: #328cc8;
    color: #fff;
    font-size: 110px;
    font-family: "Ubuntu","Inform W01 Book","Avenir Next",Helvetica,Arial,"Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo",sans-serif;
    border-bottom: 5px solid #4a4a49;
    margin-bottom: 50px;


}

body{
    background-color: rgba(0,0,0,0.035);
    margin: 0px;
}
#center{
    width: 1250px;
    margin: auto;
}
