// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* articles */

.tile{
    display: block;
    border: 1px solid #e8e8e8;
    border-top: 3px solid #001E00;
    -webkit-box-shadow:0 1.5px 1px rgba(0, 0, 0, 0.3), 0 0 0.2px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1.5px 1px rgba(0, 0, 0, 0.3), 0 0 0.2px rgba(0, 0, 0, 0.1) inset;
    background-color: #fff;
    padding: 10px;
    margin: 0px 12px 12px 0px;
    #pic{
        text-align: right;
        img{
            margin: auto;
            display: block;
            width: 100%;
            height: auto;
        }
    }
    #info{
        display: block;
        margin: 0px 0px 15px 0px;
        .title{
            display: block;
            /* border-bottom: 1.0px solid rgba(0, 0, 0, 0.1); */
            padding-bottom: 5px;
            margin-bottom: 2px

        }
        .user{
            /* text-align: right; */
            float: right;
        }
    }
}

#main{
    display: block;
    width: 616px;
    float: left;
    #hot-topic{
        @extend .tile;
        height: 400px;
        width: calc(60.66666% - 6.6px);
        float: left;
        #info{
            margin: 15px auto 15px auto;
            .title{
                display: block;
                margin: auto;
                font-size: 24px;
                font-weight: 900;
            }
        }
    }
    #feature{
        @extend .tile;
        height: 400px;
        width: calc(30.333333% - 6.666px);
        float: left;
        #info{
            display: block;
            margin: 15px 0px 15px 0px;
            .title{
                font-size: 22px;
                font-weight: 900;
            }
        }
    }
    #popular{
        @extend .tile;
        clear: both;
        #info{
            display: block;
            margin: 15px 0px 15px 0px;
            .title{
                font-size: 26px;
                font-weight: 900;
            }
        }

    }
}
aside{
    display: block;
    width: 33.3333%;
    float: left;
    .recent-articles{
        @extend .tile;
        height: 105px;
        width: 95%;
        float: left;
        #pic{
            height: 100px;
            float: left;
            margin: 0px 16px 0px 0px;
            img{
            }

        }
        #info{
            display: block;
            margin: 0px 0px 15px 0px;
            .title{
                font-size: 13px;
                font-weight: 900;
            }
        }
    }
}
li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
}
.user {
    height: 35px;
    margin-top: 5px;
    /* margin-bottom: 50px; */
    padding-top: 0;
    .user-name{
        float: left;
        display: block;
        padding-top: 7px;
        font-size: 12px;
        color: #999;

    }
    .gravatar {
        float: left;
        margin-left: 60px;
        margin-right: 5px;
        width: 30px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
    }
}
.content {
    display: block;
    height:  130px;
    margin-bottom: 20px;
    img {
        display: block;
        padding: 5px 0;
    }
}
.timestamp {
    font-size: 12px;
    color: #999;
    display: block;
    text-align: right;
    clear: right;
}

article #body{
    width: 850px;
    margin: auto;
    height: auto;
    h1{}
    .user{
        float: right;
    }
    #content{
        clear: both;
        font-size: 1.4em;
        color: #4D4847;
        line-height: 1.6em;
        margin-top: 20px;
        height: auto;
    }
}
